[submodule "src/Sylius/SyliusShopApiPlugin"]
	path = src/Sylius/SyliusShopApiPlugin
	url = git@github.com:Hailong/SyliusShopApiPlugin.git
	branch = zshwag
[submodule "src/Lilocon/WechatBundle"]
	path = src/Lilocon/WechatBundle
	url = git@github.com:Hailong/WechatBundle.git
	branch = zshwag
[submodule "src/Orinoco/Alipay"]
	path = src/Orinoco/Alipay
	url = git@github.com:Hailong/Alipay.git
[submodule "src/spring"]
	path = src/spring
	url = git@bitbucket.org:lodev/spring.git
[submodule "src/Zshwag/staticpagebundle"]
	path = src/Zshwag/staticpagebundle
	url = git@bitbucket.org:lodev/staticpagebundle.git
